# dependencies
/node_modules

# testing
/coverage
/.test-results/
/.lighthouseci/

# build output
/.astro/
/dist/

# misc
.DS_Store
*.pem
npm-debug.log*

# environment
.env*
!.env.example

# vercel
/.vercel/

# typescript
*.tsbuildinfo

# local documentation
/docs/

# local git worktrees
/.worktrees/
